$light-blue : #38B8D4; 
$hover-blue : #3ea7be; 
$black : #151A21;
$gray: #868585; 
$darkgray: #2B3340;
$hovergray: #343d4d;
$verydarkgray: #212630;
$green: #93DB4A; 
$input: #2D3643;
$post-color: #191E27;
$disabled: #EFE7DC;
$red: #E84242;


