@import "./variable"; 


.comment-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .comment-profile{
        img{
            width: 38px;
            height: 38px;
            border-radius: 50%;
            display: block;
            object-fit: cover;
        }
    }
    .comment-input-text{
        width: 100%;        
        margin-left: 0.5rem;
      
        input{
            background-color: $input; 
            color: rgba(255, 255, 255, 0.8);;
            padding: 0.7rem 1rem;
            box-sizing: border-box;
            border-radius: 30px;
            outline: none;
            width: 100%;
            border: none;
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $gray;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: $gray;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: $gray;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: $gray;
          }
    }
}