@import "./variable";

.comment-list{
    width: 100%;
    border-radius: 20px;
    height: auto;
    margin-bottom: 1rem;
    box-sizing: border-box;

    .comment-layout{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .comment-detail-image{            
            img{
                width: 42px;
                height: 42px;
                border-radius: 50%;
                margin-right: 1rem;
                object-fit: cover;
            }
        }

        .comment-setting{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            // img {
            //     display: block;
            //     color: white;
            //     width: 15px;
            //     height: auto;
            // }

            .comment-detail-body{
                position: relative; 
                width: 90%;
                line-height: 1.6;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .comment-wrapper{
                    width: fit-content;
                    // max-width: 100%;
                    padding: .5rem 1rem;
                    line-height: 1.6;
                    border-radius: 15px;

                    background-color: $verydarkgray;

                    h6 {
                        font-size: .85rem;
                        margin-right: 1rem;
                        color: white;
                    }
                    
                    p {
                        font-size: .85rem;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }

                .comment-methods{
                    margin-left: 1rem;
                    display: flex;
                    width: 100%;
                    align-items: center;
                    color: #AAA9A7;

                    p {
                        margin-right: 0.5rem;
                        font-size: .75rem;
                    }

                    .reply-icon {
                        font-size: 1.2rem;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .horiz {
                color: white;
                margin-right: 1rem;
            }
        }
    }

    .comment-replies{
        

        .comment-replies-sizebox{
            margin-left: 4rem;

            .comment-replies-body {
                // margin-top: 1rem;

            }
        }
    }

}

