@import "./variable";

.create-post {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    filter: opacity(.75);
    backdrop-filter: blur(5px);
    

}

.post-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    margin: 0 auto;
    max-height: 60vh;
    background: #1e242f;
    border-radius: 15px;
    padding: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    animation: fade .2s ease-in-out;
    z-index: 1000;

    .post-header {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        color: white;
        user-select: none;

        .border {
            width: 25px;
            height: 25px;
            padding: 10px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(43, 51, 64, 1);
        }

        .close-btn:hover {
            background-color: rgba(43, 51, 64, 0.8);
            transition: 100ms;
            cursor: pointer;
        }
    }

    @keyframes fade {
        0% { opacity: .5; }
        100% { opacity: 1; }
    }
}

.post-main {
    background-color: #2d3643;
    margin: 1rem auto;
    width: 100%;
    height: 70%;
    border-radius: 15px;

    .post-user {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        padding: 1rem;

        .img-border {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }

        p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;
            color: white;
        }
    }

    .post-text {
        margin-left: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid #50555b;

        .text {
            margin-top: 1rem;
            width: 98%;
            height: 10vh;
            resize: none;
            border: none;
            outline: none;
            background: #2d3643;
            color: #868585;
            font-family: "inter", sans-serif;
            font-size: .9rem;
        }

        .post-img-wrap {
            margin-left: .5rem;
            align-self: flex-start;
            position: relative;

            .post-remove-btn {
                height: 1.2rem;
                width: 1.2rem;
                border-radius: 100%;
                background-color: white;
                position: absolute;
                top: -.4rem;
                right: -.4rem;
                z-index: 100;

                &:hover {
                    background-color: $gray;
                    cursor: pointer;
                }
            }

            img {
                height: 5rem;
                width: 5rem;
                margin-bottom: 1rem;
                object-fit: cover;
            }
        }
    }
    .post-icons {
        margin: 1rem auto;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        flex-direction: row;

        img {
            margin-right: .7rem;
        }
    }
}
.post-footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;

    .post-btn {
        width: 100px;
        height: 40px;
        border-radius: 30px;
        border: 2px solid $light-blue;
        background-color: $light-blue;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            opacity: 0.9;
            transition: 0.2s;
        }
    }
}