@import './variable';

.edit-profile {
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-info {
        display: flex;
        align-items: center;

        .edit-image {
            margin-left: 1.5rem;
            position: relative;
            
            .edit-image-icon {
                background-color: $darkgray;
                opacity: 0.5;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 2rem;
                    color: white;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .edit-form {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            
            label {
                color: white;
                margin: 1rem 0;
                font-weight: 500;
                font-size: .9rem;
            }

            input {
                padding: 1em;
                width: 15rem;
                background-color: $input;
                border: none;
                border-radius: 10px;
                color: $gray;
                font-size: .8rem;
                outline: none;

                &:focus {
                    border: 2px solid $gray;
                }
            }

            textarea {
                width: 20rem;
                height: 5rem;
                padding: 1rem 1rem;
                background-color: $input;
                border: none;
                border-radius: 10px;
                color: $gray;
                resize: none;
                font-size: .9rem;
                outline: none;

                &:focus {
                    border: 2px solid $gray;
                }
            }
        }
    }

    .btn-rows {
        display: flex;
        align-items: center;

        .save-edit {
            padding: .7rem;
            border: 1px solid $light-blue;
            border-radius: 8px;
            color: $light-blue;
            transition: .2s;
            margin-right: 1rem;

            &:hover {
                background-color: $light-blue;
                cursor: pointer;
                color: white;
            }
        }


        .cancel-edit {
            padding: .7rem;
            border: 1px solid $light-blue;
            border-radius: 8px;
            color: $light-blue;
            transition: .2s;

            &:hover {
                background-color: $light-blue;
                cursor: pointer;
                color: white;
            }
        }
    }
}