@import "./variable"; 

.friends-component{
    width: 25vw;
    height: auto;
    background-color: $black;
    padding: 1rem 0 7rem 1.5rem;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
        
    h2 {
        font-size: 18px;
        margin-top: 1rem;
    }
    
    p {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: $gray;
    }
    
    .friend-list {
        margin-right: 1rem;

        .no-friends {
            margin: 2rem 0;
            color: $gray;
            
            h4 {
                font-weight: 500;
            }
        }

        .friend {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 2rem;
            margin-bottom: 1.5rem;

            .friend-info {
                display: flex;
                align-items: center;

                img {
                    width: 3rem;
                    height: 3rem;
                    object-fit: cover;
                    border-radius: 100%;
                    margin-right: 1rem;
                }

                h4 {
                    font-size: 0.9rem;
                    font-weight: 400;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }

            .friend-status {
                display: flex;
                align-items: center;

                h5 {
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: $gray;
                    margin-right: 1rem;
                }

                .status {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                }
            }
        }
        
    }

    .divider {
        height: 1px;
        background-color: $darkgray;
        margin-top: 1rem;
    }

    .follow-list {
        // margin: 1rem 0;
        
        .follow {
            margin-right: 1rem;
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
            position: relative;

            img {
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;
                border-radius: 50%;
                object-fit: cover;
            }
            
            .follow-info {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }

            .follow-btn {
                position: absolute;
                right: 0;
                width: 6rem;
                height: 2rem;
                background-color: $light-blue;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    margin-bottom: .5rem;
                    color: white;
                }

                &:hover {
                    background-color: $hover-blue;
                    cursor: pointer;
                }
            }
        }
    }
}