@import "./variable";

.header{
    width: calc(100vw-2rem);
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid $darkgray;

    .logo{
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 60%;
            height: 60%;
            display: block;
        }
    }

    .search-bar{
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-left: 10rem;

        input{
            box-sizing: border-box;
            border: none;
            width: 100%; 
            padding: .8rem 1rem .8rem 3.5rem; 
            border-radius: 15px;
            background-color: $input;
            outline: none;
            font-size: 1rem;
            color: white;
        } 

        #search{
            position: absolute; 
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: gray;
        }
        .result{
            position: absolute; 
            top: 65px;
            width: 100%;
            height: max-content;
            background-color: $darkgray;
            z-index: 2;
                .container{
                    position: absolute;
                    top: 0;
                    width: 93%;
                    background-color: rgba(0, 0, 0, 0);
                    width: 50vw;
                    height: 100vh;
                    z-index: 3; 
                    .profile-url{
                        position: absolute; 
                        top: 0px;
                        left: 0px;
                        display: flex;
                         align-items: center;
                          padding: 1rem;
                          width: 75%;
                          background-color: $darkgray;
                          z-index: 10;
                        img{
                            width: 50px;
                            border-radius: 50%;
                            height: 50px;
                            display: block;
                            margin-right: 2rem;
                        }
                        div{
                            text-align: left;
                            color: white;
                           
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
               
             
            }
        }
    }

    .account-control{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 17%;
        height: 100%;
        
        .account-control-profile{
            height: 100%;
            display: flex;
            color: white;
            justify-content: center;
            align-items: center;

            img{
                margin-right: 1rem;
                width: 40px; 
                height: 40px;
                border-radius: 50%;
                display: block;
                object-fit: cover;
            }

            &:hover {
                cursor: pointer;

                p {
                    text-decoration: underline;
                }
            }
        }
        
        .account-control-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $post-color;
        }        
    }
