@import "./variable"; 

.chat-container {
    width: 80vw;
    display: flex;
    padding: 2rem 2rem 0 0;
    box-sizing: border-box;

    .chat-list {
        width: 32vw;
        color: white;
        padding: 0 3rem 5rem;
        box-sizing: border-box;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        .create-chat {
            height: 3rem;
            width: 100%;
            // background-color: $light-blue;
            border: 2px solid $light-blue;
            border-radius: 17px;
            margin-bottom: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $light-blue;
            transition: .2s;

            h5 {
                font-size: 1rem;
                font-weight: 500;
            }

            &:hover {
                background-color: $light-blue;
                color: white;
                cursor: pointer;
            }
        }

        .chat-item {
            margin-bottom: 1rem;
            padding: 1rem;
            border-radius: 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $post-color;

            .chat-side {
                display: flex;
                align-items: center;

                img {
                    border-radius: 100%;
                    height: 3rem;
                    width: 3rem;
                    object-fit: cover;
                    margin-right: 1rem;
                }

                .chat-info {
                    margin-right: 1rem;

                    h5 {
                        margin-bottom: .3rem;
                        font-weight: 600;
                        font-size: .9rem;
                    }

                    p {
                        font-size: .85rem;
                    }
                }
                
                .seen-status {
                    margin-top: 1.5rem;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: $light-blue;
                }
            }

            h6 {
                font-size: .9rem;
                font-weight: 400;
            }

            &:hover {
                cursor: pointer;
            }
        }

        #active {
            background-color: $darkgray;
        }
    }

    .chat-list::-webkit-scrollbar {
        display: none;
    }

    .default-chatroom {
        width: 48vw;
        height: 82vh;
        background-color: $post-color;
        border-radius: 17px;
        padding: .7rem 1rem;
        box-sizing: border-box;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            height: 12rem;
            margin-bottom: 2rem;

        }

        h3 {
            font-weight: 500;
            margin-bottom: 1rem;
        }

        p {
            font-size: .9rem;
            color: $gray;
            margin-bottom: 3rem;
        }

        .send-msg-btn {
            padding: .8rem 1.5rem;
            background-color: $light-blue;
            border-radius: 12px;
            font-size: .9rem;
            transition: .2s;

            &:hover {
                background-color: $hover-blue;
                cursor: pointer;
            }
        }
    }

    .chatroom {
        width: 48vw;
        height: 82vh;
        background-color: $post-color;
        border-radius: 17px;
        padding: .7rem 1rem;
        box-sizing: border-box;
        position: relative;
        
        .chatroom-header {
            display: flex;
            align-items: center;
            padding-bottom: .7rem;
            border-bottom: 1px solid $darkgray;
            color: white;
            position: relative;
            
            img {
                height: 3.5rem;
                width: 3.5rem;
                object-fit: cover;
                border-radius: 100%;
                margin-right: 1rem;
            }

            .chat-header-info {
                
                h5 {
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: .3rem;
                }

                p {
                    font-size: .9rem;
                    color: $gray;
                }

                .active-status {
                    display: flex;
                    align-items: center;

                    .active-circle {
                        margin-left: 1rem;
                        height: 10px;
                        width: 10px;
                        border-radius: 100%;
                        background-color: $green;
                    }
                }
            }

            .chatroom-edit-btn {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100%;
                position: absolute;
                right: 0;
                background-color: $darkgray;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .chatroom-body {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            .message {
                color: white;
                padding: .7rem 1rem; 
                margin-bottom: 1rem;
                border-radius: 20px;
                font-size: .9rem;
            }

            img {
                // width: 15rem;
                height: 15rem;
                border-radius: 15px;
                margin-bottom: 1rem;
            }
        }

        .chatroom-body::-webkit-scrollbar {
            display: none;
        }

        .chatform {
            width: 95%;
            display: flex;
            align-items: center;
            margin-top: 1rem;
            position: absolute;
            bottom: 1rem;

            .chat-input {
                width: 100%;
                padding: .7rem 1rem;
                border-radius: 17px;
                background-color: $input;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;

                input {
                    color: white;
                    background-color: $input;
                    border: none;
                    outline: none;
                }

                .chat-img-wrap {
                    width: 4rem;
                    height: 4rem;
                    position: relative;

                    .remove-btn {
                        height: 1rem;
                        width: 1rem;
                        border-radius: 100%;
                        background-color: white;
                        position: absolute;
                        top: -.2rem;
                        right: .5rem;
                        z-index: 100;

                        &:hover {
                            background-color: $gray;
                            cursor: pointer;
                        }
                    }
                    
                    img {
                        height: 3rem;
                        width: 3rem;
                        margin-bottom: 1rem;
                    }
                }
            }
    
            .chat-input-buttons {
                width: 5rem;
                display: flex;
                justify-content: space-between;

                .chatroom-icon {
                    margin: 0 .4rem;
                    width: 2rem;
                    height: 2rem;
                    color: $light-blue;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
}