@import "./variable"; 


.newsfeed{
    width: 55vw;
    // padding: 2rem 0 4rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    
    .feeds {
        width: 90%;
        padding: 2rem 0 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    

        .default-newsfeed {
            position: absolute;
            top: 50%;
            padding: 3rem 5rem;
            transform: translateY(-50%); 
            border-radius: 17px;
            background-color: $post-color;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;


            img {
                height: 12rem;
                margin-bottom: 3rem;
            }

            h3 {
                font-weight: 500;
                margin-bottom: 1rem;
            }

            p {
                font-size: .9rem;
                color: $gray;
                margin-bottom: 2rem;
            }

            .refresh-btn {
                padding: .8rem 1.5rem;
                background-color: $light-blue;
                border-radius: 12px;
                font-size: .9rem;
                transition: .2s;
    
                &:hover {
                    background-color: $hover-blue;
                    cursor: pointer;
                }
            }
        }
    }

    .feeds::-webkit-scrollbar {
        display: none;
    }
}

.options{
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}


.dropdown {
    width: 100px;

}