@import "./variable";
 
.noti-main-div {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 55%;
    // height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .noti-list {
        padding: 1rem 0 7rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .default-noti {
            position: absolute;
            top: 50%;
            transform: translateY(-50%); 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3rem 5rem;
            border-radius: 17px;
            background-color: $post-color;
            color: white;
    
            img {
                height: 12rem;
                margin-bottom: 3rem;
            }
    
            h3 {
                font-weight: 500;
                margin-bottom: 1rem;
            }
    
            p {
                font-size: .9rem;
                color: $gray;
                // margin-bottom: 2rem;
            }
        }

        .noti-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 1.5rem 0.5rem 0rem 0.5rem;
            background-color: #1e242f;
            width: 100%;
            height: 5.5rem;
            border-radius: 1rem;
            color: white;
            position: relative;
            
            .noti-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .noti-img {
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .img-icons {
                        margin-left: 2rem;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .img-border {
                        margin-left: 2rem;
                        margin-right: 1rem;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $gray;
                        object-fit: cover;
                    }
    
                    img {
                        width: 100%;
                        height: 100%;
                        display: block;
                    }
                }
                .noti-status {
                    width: 60%;
                    margin-left: .5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
    
                    .noti-name {
                        font-size: .95rem;
                        font-weight: 700;
                    }
                    .noti-info {
                        font-size: .9rem;
                        margin-left: .4rem;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    .indicator {
                        margin-left: 1rem;
                        background-color: $light-blue;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
                .time-status {
                    width: 20%;
                    // display: flex;
                    // align-items: flex-end;
                    text-align: right;
                    color: #868585;
                    user-select: none;
                    font-size: .9rem;
                    margin-right: 1rem;
                }
    
                .noti-options {
                    width: 7.5%;
                    display: flex;
                    align-items: center;
                    margin-right: 1rem;
    
                    .border {
                        width: 25px;
                        height: 25px;
                        padding: 10px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(43, 51, 64, 1);
                    }

                    :hover {
                        background-color: rgba(43, 51, 64, 0.8);
                        transition: 100ms;
                        cursor: pointer;
                        color: $light-blue;
                    }
                }
            }
        }
    }
}
