@import "./variable"; 

.post {
    color: white;
    width: 75%;
    background-color: $post-color;
    border-radius: 15px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .post-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .post-profile {
            display: flex;
            align-items: center;

            img {
                height: 50px;
                width: 50px;
                object-fit: cover;                 
                border-radius: 100%;
                margin-right: 1rem;

                &:hover {
                    cursor: pointer;
                }
            }

            h6 {
                font-weight: 500;
                font-size: 1rem;
                margin-right: 1rem;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            p {
                font-size: .9rem;
                font-weight: 400;
                color: $gray;
            }
        }
        
        .edit-post {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkgray;
        }
    }

    .post-content {
        width: 100%;

        p {
            font-weight: 300;
            font-size: .9rem;
        }

        img {
            width: 100%;
            // object-fit: cover;
            // height: 100%;
            border-radius: 15px;
        }

        iframe {
            width: 100%;
            height: 330px;
            border-radius: 15px;
            border: none;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .post-reacts {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: .9rem;

        .love {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        .comment {
            display: flex;
            align-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        .pepe-react {
            display: flex;
            align-items: center;

            img {
                height: 1.5rem;
            }

            &:hover {
                cursor: pointer;
            }
        }

        p {
            margin: 0 1.5rem 0 .4rem
        }
    }

    .divider {
        width: 100%;
        margin: 1rem;
        height: 1px;
        background-color: $darkgray;
    }
}

// <iframe width="560" height="315" src="https://www.youtube.com/embed/nM0xDI5R50E"
//  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
// encrypted-media; gyroscope; picture-in-picture" 
// allowfullscreen></iframe>