@import './variable';

.pDetail-background {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: $verydarkgray;
    filter: opacity(.8);
    backdrop-filter: blur(5px);
    z-index: 800;
}

.pDetail-content {
    display: flex;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    height: 85vh;
    z-index: 999;

    .pDetail-left {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
        border-radius: 15px;

        img {
            max-width: 100%;
            max-height: 80vh;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    .pDetail-right {
        box-sizing: border-box;
        width: 40%;
        background: $post-color;
        border-radius: 15px;
        padding: 1rem;
        position: relative;

        .pDetail-header {
            display: flex;
            flex-direction: column;

            .user-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: white;
                margin-bottom: 2rem;

                .profile-info {
                    display: flex;
                    align-items: center;

                    img {
                        height: 3rem;
                        width: 3rem;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 1rem;
                    }
                    
                    h6 {
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: .5rem;
                    }

                    p {
                        font-size: .9rem;
                        color: gray;
                    }
                }

                .action-btns {
                    display: flex;

                    .circle {
                        padding: .5rem;
                        border-radius: 50%;
                        background-color: $darkgray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 1rem;

                        &:hover {
                            cursor: pointer;
                            background-color: $hovergray;
                        }
                    }
                }
            }

            .content {
                color: white;
                
                p {
                    font-size: .9rem;
                    font-weight: 300;
                }
            }
        }

        .pDetail-comments {
            height: 55%;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 10px;
            }
            
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: $verydarkgray;
            }
            
            &::-webkit-scrollbar-thumb {
                background: $darkgray; 
                border-radius: 10px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: $hovergray; 
            }
        }

        .pDetail-input {
            position: absolute;
            bottom: 0;
            margin-bottom: 1rem;
            width: 94%;

            .react-bar {
                width: 100%;
                display: flex;
                align-items: center;
                font-size: .9rem;

                .love {
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .comment {
                    display: flex;
                    align-items: center;
                    color: $disabled;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .pepe-react {
                    display: flex;
                    align-items: center;
                    color: white;

                    img {
                        height: 1.5rem;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                p {
                    margin: 0 1.5rem 0 .4rem
                }
            }
        }

        .divider {
            width: 100%;
            margin: 1rem 0;
            height: 1px;
            background-color: $darkgray;
        }
    }
}