@import "./variable";

.profile-main {
	margin: 2rem;
	height: 100%;
	width: 75%;
	background-color: $black;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	.profile-banner {
		display: flex;
		flex-direction: row;
		width: 95%;
		height: 25%;
		background-color: $post-color;
		border-radius: 15px;
		padding: 1.7rem 0;
		box-sizing: border-box;

		.profile-img {
			width: 20%;
			display: flex;
			align-items: center;

			.img-border {
				margin-left: 3.5rem;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
			}
		}

		.profile-status {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: white;
			width: 70%;
			margin-left: 3rem;

			.profile-follow-banner {
				display: flex;
				align-items: center;

				.profile-follow-btn {
					margin-left: 1rem;
					background-color: $light-blue;
					padding: 0.7rem 1rem;
					border-radius: 15px;

					&:hover {
						background-color: $hover-blue;
						cursor: pointer;
					}
				}
			}

			.profile-follow {
				display: flex;
				flex-direction: row;

				.following {
					width: auto;
					display: flex;
					align-items: center;
					margin-right: 1rem;
				}
				.followers {
					width: auto;
					display: flex;
					align-items: center;
					text-align: center;
				}

				h4 {
					font-size: 1.1em;
				}

				p {
					color: #868585;
				}
			}
		}

		.profile-settings {
			display: flex;
			align-items: center;
			color: white;

			.setting-border {
				margin-right: 1rem;
				padding: 10px;
				width: 30px;
				height: 30px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $darkgray;

				&:hover {
					opacity: 0.8;
					cursor: pointer;
					transition: 0.1s;
				}
			}
		}
	}

	.profile-secondary {
		display: flex;
		margin-top: 1.5rem;
		align-items: center;
		flex-direction: row;
	
		.profile-box {
			width: 70%;
			height: 100%;
			display: flex;
			flex-direction: column;

			.profile-bar {
				display: flex;
				align-items: center;
				flex-direction: row;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
				background-color: $black;
				position: sticky;
				top: -.1px;
				z-index: 90;

				p {
					color: #868585;
					margin-right: 2.5rem;
					width: 80px;
					font-weight: bold;
				}
				.active {
					display: flex;
					align-items: center;
					justify-content: center;
					color: white;
					border-radius: 25px;
					background-color: #38b8d4;
					padding: 10px;
				}
				.inactive {
					padding: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			.profile-post {
				width: 100%;
				// height: fit-content;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding-bottom: 7rem;
				overflow-y: scroll;
				-ms-overflow-style: none;
				scrollbar-width: none;

				&::-webkit-scrollbar {
					display: none;
				}

				.no-post {
					background-color: $post-color;
					width: 90%;
					height: 40vh;
					border-radius: 15px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: $gray;

					h3 {
						font-weight: 500;
					}

					p {
						margin-top: 1rem;
						font-size: .9rem;
						font-weight: 300;
					}
				}

				.posts {
					width: 90%;
					height: 25%;
					background: #1e242f;
					margin-top: 1.5rem;
					margin-bottom: 1rem;
					border-radius: 1rem;
					padding: 1.5rem 1rem 2rem 2rem;

					.posts-header {
						display: flex;
						flex-direction: row;
						align-items: center;
						margin-top: 10px;
						height: 20%;

						.header-info {
							margin-left: 1.5rem;
							width: 85%;
							h2 {
								color: white;
								font-size: 1.2em;
								margin-bottom: 5px;
							}

							p {
								color: #868585;
								font-size: 1em;
								font-weight: 200;
							}
						}

						.header-options {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							color: #ffffff;

							.option-border {
								width: 25px;
								height: 25px;
								padding: 10px;
								border-radius: 50%;
								display: flex;
								justify-content: center;
								align-items: center;
								background-color: #2b3340;
							}
							:hover {
								background-color: rgba(43, 51, 64, 0.8);
								transition: 100ms;
								cursor: pointer;
							}
						}

						.img-border {
							width: 50px;
							height: 50px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							background-color: aqua;
						}
					}

					.posts-main {
						margin-top: 1.5rem;
						height: 20%;
						color: white;
					}

					.post-reacts {
						display: flex;
						align-items: center;
						font-size: 0.9rem;
						color: #868585;
						.love {
							display: flex;
							align-items: center;

							&:hover {
								cursor: pointer;
							}
						}

						.comment {
							display: flex;
							align-items: center;
							

							&:hover {
								cursor: pointer;
							}
						}

						.pepe-react {
							display: flex;
							align-items: center;

							img {
								height: 1.5rem;
							}

							&:hover {
								cursor: pointer;
							}
						}

						p {
							margin: 0 1.5rem 0 0.4rem;
						}
					}

					.divider {
						margin: 1rem 0;
						height: 1px;
						background-color: $darkgray;
					}
				}
			}
		}

		.profile-friendlist {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			color: white;
			font-weight: bold;
			height: 100%;
			width: 25%;
			margin-top: 2.5rem;
			position: sticky;
			top: 0;

			.no-friends-profile {
				margin-top: 2rem;
				background-color: $post-color;
				height: 40vh;
				width: 100%;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				h3 {
					font-weight: 500;
					color: $gray;
				}

				p {
					margin-top: 1rem;
					font-size: .9rem;
					font-weight: 300;
					color: gray;
				}
			}

			.friend {
				width: 100%;
				margin-top: 1.5rem;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				border-bottom: 1px solid #2b3340;
				padding-bottom: 1rem;

				p {
					margin-left: 1rem;
					font-weight: 400;
				}

				.img-border {
					width: 50px;
					height: 50px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
