@import "./variable"; 

.sidebar{
    padding-top: 2rem;
    // padding-right: 1.5rem;
    width: 20vw;
    height: auto;
    background-color: $black;
    color: white;
    box-sizing: border-box;

    h2 {
        padding: 0 0 1rem 1.5rem;
        font-size: 18px;
    }
    
    .sidebar-btn {
        display: flex;
        align-items: center;
        padding: 1rem 0 1rem 1.5rem;
        margin: 1rem 0;

        .icon {
            margin-right: 1rem;
            font-size: 1.8rem;
            transition: 0.2s;
        }

        h3 {
            font-size: 16px;
            font-weight: 400;
            transition: 0.2s;
        }

        .noti {
            margin-left: 1rem;
            background-color: $light-blue;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: .8rem;
        }

        &:hover {
            cursor: pointer;

            h3, .icon {
                color: $light-blue;
            }
        }
    }

    #active-btn {
        background-color: $post-color;
        border-radius: 0 25px 25px 0;

        h3, .icon {
            color: $light-blue;
            transition: 1s;
        }
    }

    .create-post-btn {
        width: 75%;
        height: 1rem;
        padding: 1rem;
        border-radius: 20px;
        border: 2px solid $light-blue;
        margin: 2rem 0 1rem 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        h4 {
            font-weight: 500;
            color: $light-blue;
            transition: 0.2s;
        }

        &:hover {
            cursor: pointer;
            background-color: $light-blue;
            
            h4 {
                color: white;
            }
        }
    }
}