@import "../scss/variable";
.container{
    width: 100vw;
    height: 100vh;
    display: flex;

    .login{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $post-color;
        width: 60%;
        color: white;

        .loading {
            width: 20rem;
            height: 10rem;
            display: flex;
            justify-content: center;
            position: relative;

            p {
                font-size: 1.2rem;
                margin-bottom: 1rem;
                font-weight: 300;
            }

            .spinner {
                position: absolute;
                left: 0;
            }
        }

        .login-left {
            display: flex;
            flex-direction: column;
            height: 50vh;

            .login-greeting{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                
                h3{
                    color: $light-blue;
                    font-size: 2rem;
                }

                p{
                    margin: 0.75rem 0;
                }
            }
            
            .login-form {
                // width: 405px; 
                // display: flex;
                // margin-top: 1rem;
                // height: 25%;
                // flex-direction: column;
                // align-items: center;
                // justify-content: space-between; 

                div{
                    margin: 1rem 0;
                    position: relative; 
                    width: 405px;

                    input {
                        width: 93%;
                        outline: none;
                        color: #868585;
                        color: white;
                        background-color: $input;
                        border:none;
                        padding: 1rem ; 
                        border-radius: 10px;
                        font-size: .9rem;
                    }

                    .visibility {
                        position: absolute; 
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #868585;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .sign-up{
                    width: 100%;
                    margin: 1rem 0;
                    background-color: $light-blue;
                    outline: none;
                    border: none;
                    color: white;
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: .9rem;
                    transition: .2s;

                    &:hover{
                        cursor: pointer;
                        background-color: $hover-blue;
                    }
        
                }

                .divider {
                    height: 2px;
                    background-color: $darkgray;
                }

                .no-have-acc{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        color: $gray;
                        font-size: .9rem;
                    }

                    .no-have-acc-btn {
                        background-color: $light-blue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 8rem;
                        padding: .8rem;
                        border-radius: 5px;
                        font-size: .9rem;
                        transition: .2s;

                        &:hover{
                            cursor: pointer;
                            background-color: $hover-blue;
                        }
                    }
                }
            }

            .signup-form {
                // width: 405px; 
                // display: flex;
                // margin-top: 1rem;
                // height: 40%;
                // flex-direction: column;
                // // align-items: center;
                // justify-content: space-between; 

                div{
                    // width: 405px;
                    position: relative; 
                    margin: 1rem 0;

                    input {
                        width: 93%;
                        outline: none;
                        color: #868585;
                        color: white;
                        background-color: $input;
                        border:none;
                        padding: 1rem ; 
                        border-radius: 10px;
                        font-size: .9rem;
                    }

                    .visibility {
                        position: absolute; 
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: #868585;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }

                .sign-up{
                    width: 100%;
                    margin: 1rem 0;
                    background-color: $light-blue;
                    outline: none;
                    border: none;
                    color: white;
                    padding: 1rem;
                    border-radius: 5px;
                    font-size: .9rem;
                    transition: .2s;

                    &:hover{
                        cursor: pointer;
                        background-color: $hover-blue;
                    }
                }

                .have-acc {
                    color: $gray;
                    font-size: .9rem;

                    span {
                        color: $light-blue;
                        
                        &:hover{
                            color: $hover-blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .login-side{
        width: 40%;
        background-color: #000;
        position: relative; 
        div{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            position: relative; 
            img{
                width: 100%; 
                height: 100%;
                display: block;
                position: absolute; 
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .yellow{
            width: 150px;
            height: 150px;
            background-color: #FCC23B;
            position: absolute; 
            top: 20%;
            left: 50%;
        }
        .purple{
            background-color: #7668FB;
            position: absolute; 
            top: 25%;
            left: -7%;
            width: 110px;
            height: 110px;
        }
        .pink{
            background-color: #F64561 ;
            position: absolute; 
            top: 70%;
            right: 10%;
            width: 125px;
            height: 125px;
        }
        .green{
            background-color: #9CC576;
            position: absolute; 
            width: 110px;
            height: 110px;
            left: 10%;
            top: 60%;
        }
        .half{
            width: 50px;
            height: 100px;
        }
        .light-blue{
            width: 55px;
            height: 55px;
            border-radius: 100% 0 0 0 ;
            background-color: #A0DCFF;
            position: absolute; 
            left: 50%;
            bottom: 0;
        }
        .light-green{
            width: 55px;
            height: 55px;
            border-radius: 0 0 0 100% ;
            background-color: #C1E5C0;
            position: absolute; 
            right: 0;
            top: 50%;
        }
        .light-pink{
            height: 50px;
            width: 100px;
            border-radius: 75px 75px 0 0;
            background-color: #FFC3D8;
            position: absolute; 
            left: -4%; 
            top: 10%;
        }


    }
}
