@import "./variable";

.template{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $black;
    overflow-y: hidden;
    position: relative;

    .template-body{
        display: flex;
        height: 100%;
        flex-direction: row;
        position: relative;
    }
}